<html>
<body>
chef-server maintained by <font color="blue"> <I> <%= node["maintainer"] %> </I></font></BR>
The bandwidth is <I> <%= node["bandwidth"] %> </I></BR>
Domain name is <I> <%= node["fqdn"] %> </I>
</body>
</html>

